* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  width: 100%;
  gap: 2rem;
  padding: 2rem 0;
}

main .img-prime {
  img {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
main .img-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

main .img-list img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
main .img-list img:hover {
  opacity: 0.5;
  cursor: pointer;
}
